* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-image: url(../Media\ Files/background.webp);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 680px;
    background: #fff;
    padding: 5px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.button-box {
    width: 228px;
    margin: 35px 0;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    width: 110px;
    background: linear-gradient(to right, #ff105f, #ffad06) !important;
    border-radius: 30px;
    transition: 0.5s;
}

.toggle-button {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
}

.social-icons {
    margin: 30px auto;
    text-align: center;
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.outer-login-div,
.outer-registration {
    width: 100%;
}

.login-div,
.inner-registration {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login_input_group {
    width: 280px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login_input_field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0px;
    border: 0px;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.login_check {
    margin: 15px 0px 25px 0px;
}

.login_check>span {
    color: #777;
    font-size: 15px;
    margin-left: 5px;
}

.un-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login_submit_btn {
    width: 200px;
    padding: 10px 30px;
    cursor: pointer;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.boy_image {
    width: 200px;
    height: 335px;
}

/* The snackbar_login - position it at the bottom and in the middle of the screen */
.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(255, 242, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

/* Show the snackbar_login when clicking on a button (class added with JavaScript) */
.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar_login in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.outer-registration {
    display: none;
}

.inner-registration>form {
    height: 300px;
}


.registration_checkbox {
    margin-right: 5px;
}

.color_blue {
    color: blue
}