* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#login_boy {
    top: 130px;
    left: 450px;
    width: 200px;
    height: auto;
    position: absolute;
}

#signup_boy {
    display: none;
    top: 108px;
    left: 452px;
    width: 194px;
    height: auto;
    position: absolute;
}

.fullbackground {
    height: 100%;
    width: 100%;
    background-image: url(/Media\ Files/background.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.formbox {
    width: 680px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
}

#navbar {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: 0.5s;
}

.button-box {
    width: 220px;
    margin: 35px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    left: 190px;
}

.toogle-button {
    left: 10px;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.social-icons {
    margin: 30px auto;
    text-align: center;
}

.social-icons a{
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.login_input_field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.login_submit_btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.login_checkbox {
    margin: 50px 10px 30px 70px;
}

#remember_password {
    color: #777;
    font-size: 12px;
    bottom: 65px;
    position: absolute;
    left: 98px;
    right: -39px;
}

#term_condition {
    color: #777;
    font-size: 12px;
    bottom: 65px;
    position: absolute;
    left: 141px;
    right: -39px;
}

#login_form {
    top: 210px;
    left: 90px;
}

.login_input_group {
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.registration_input_group {
    top: 174px;
    left: 50px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.registration_input_field {
    width: 100%;
    padding: 10px 0px;
    margin: 5px 100px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.registration_submit_btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin: -9px 0px 9px 98px;
}

.registration_checkbox {
    margin: 17px 76px 29px 116px;
}