* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#logoimg
{
    top: 130px;
    left: 450px;
    width: 200px;
    height: auto;
    position: absolute;
    /* z-index: 1; */
    /* background-color: white; */
    /* border-radius: 30px; */
}
#signup-image
{
    top: 108px;
    left: 452px;
    width: 194px;
    height: auto;
    position: absolute;
}
.fullbackground
{
    height: 100%;
    width: 100%;
    background-image: url(./login-reg-img/patrick-tomasso-5hvn-2WW6rY-unsplash.jpg);
    /* background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0.0.0.4)),url(./login-reg-img/login-reg-img/banner.jpg); */
    /* background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%); */
    background-position: center;
    background-size: cover;
    position: absolute;
}
.formbox
{
    width: 680px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
}
.button-box
{
    width: 220px;
    margin: 35px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    left: 190px;
}
.toogle-button
{
    left: 10;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn
{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: 0.5s;
}
.social-icons
{
    margin: 30px auto;
    text-align: center;
}
.social-icons img
{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.input-field
{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box1
{
    margin: 50px 10px 30px 70px;
}
#p46
{
    color: #777;
    font-size: 12px;
    bottom: 65px;
    position: absolute;
    left: 98px;
    right: -39px;
}

#p45
{
    color: #777;
    font-size: 12px;
    bottom: 65px;
    position: absolute;
    left: 141px;
    right: -39px;
}

#login
{
    top: 210px;
    left: 90px;
}
.input-group
{
    /* top: 180px; */
    /* left: 90px; */
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-group1
{
    top: 174px; 
    left: 50px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
    } 

    .input-field1
    {
        width: 100%;
        padding: 10px 0px;
        margin: 5px 100px;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
/* #register
{
    top: 150px;
    left: 600px;
} */
    .submit-btn1
    {
        width: 85%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background: linear-gradient(to right, #ff105f, #ffad06);
        border: 0;
        outline: none;
        border-radius: 30px;
        margin: -9px 0px 9px 98px;
    }
    .check-box
    {
        margin: 17px 76px 29px 116px;
    }
    /* Image hide/ show code goes here */
    .hide
    {
        display: none;
    }
    .hide1
    {
        display: none;
    }